# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
hex2rgb/node_modules
hex2rgb/.pnp
hex2rgb/.pnp.js

# testing
hex2rgb/coverage

# production
hex2rgb/build

# misc
hex2rgb/.DS_Store
hex2rgb/.env.local
hex2rgb/.env.development.local
hex2rgb/.env.test.local
hex2rgb/.env.production.local

hex2rgb/npm-debug.log*
hex2rgb/yarn-debug.log*
hex2rgb/yarn-error.log*
hex2rgb/.idea

# dependencies
steps/node_modules
steps/.pnp
steps/.pnp.js

# testing
steps/coverage

# production
steps/build

# misc
steps/.DS_Store
steps/.env.local
steps/.env.development.local
steps/.env.test.local
steps/.env.production.local

steps/npm-debug.log*
steps/yarn-debug.log*
steps/yarn-error.log*
steps/.idea
